body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.game {
    width: 30%;
    margin: 15px;
    text-align: center;
}

.game img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}


@media (min-width: 768px) {
    .game img {
        width: 50%;
    }
}


@media (min-width: 992px) {
    .game img {
        width: 33.33%;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin: 5px 0; 
}


